*_prf
reference_docs
.DS_Store
*.DSYM
*.vcd
obj_dir
.vscode

# Sim binaries
sim/wb_hc164_tb/wb_hc164_tb
sim/led_display_controller_tb/led_display_controller_tb
sim/led_display_counter_tb/led_display_counter_tb

# NextPNR/Yosys binaries
hardware.config
hardware.bit
hardware.json

# KiCAD
fp-info-cache 
board/*bak
board/gerber

# NextPNR?
*.dblite
